---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "@/styles/globals.css";
import { AccordionRender } from "@/components/accordion";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { AccordionData } from "@/utils/acc";
const data = AccordionData();
---

<Layout title="ThingCast | Event Scheduling Made Easy">
  <main class="h-screen bg-[#121212] md:p-0 lg:p-0 px-4 flex flex-col gap-40">
    <section
      class="flex bg-[#121212] flex-col gap-10 items-center justify-center md:my-40 lg:my-40 mt-20"
    >
      <hgroup
        class="flex flex-col items-center justify-center gap-4 text-center"
      >
        <h1
          class="text-white md:text-7xl lg:text-7xl text-5xl font-semibold drop-shadow-md"
        >
          Event Scheduling Made Easy
        </h1>
        <p class="text-muted-foreground md:text-lg lg:text-lg text-base">
          A simple app that makes it easy to schedule events <br /> and invite people
          to join. No additional setup required.
        </p>
      </hgroup>
      <div id="--btn">
        <a href="/app">
          <Button
            className="bg-white text-black p-6 rounded-full hover:bg-gray-200 px-10 hover:ring-2 hover:ring-gray-500"
            >Get Started</Button
          >
        </a>
        <Button variant={"link"} className="text-muted-foreground"
          >Learn More</Button
        >
      </div>
      <!-- video goes here -->
      <div id="video" class="md:px-40 lg:px-40 px-4">
        <video
          src="./demo.mp4"
          width="500"
          height="500"
          autoplay
          loop
          muted
          class="rounded-xl md:w-fit lg:w-fit md:h-fit lg:h-fit w-auto h-auto"
        ></video>
      </div>
    </section>
    <section class="flex flex-col gap-10 items-center justify-center">
      <hgroup
        class="flex flex-col items-center justify-center gap-4 text-center"
      >
        <h2 class="text-white text-5xl font-semibold drop-shadow-md">
          Create your invites in minutes
        </h2>
        <p class="text-muted-foreground md:text-lg lg:text-lg text-base">
          Create your invites in minutes. Click the create button, enter the
          details for your event <b>and you're done</b>.
        </p>
      </hgroup>
      <!-- video goes here -->
      <div id="video" class="md:px-40 lg:px-40 px-4">
        <video
          src="./invite-demo.mp4"
          width="500"
          height="500"
          autoplay
          loop
          muted
          class="rounded-xl md:w-fit lg:w-fit md:h-fit lg:h-fit w-auto h-auto"
        ></video>
      </div>
    </section>
    <section
      class="flex flex-col items-center justify-center gap-4 text-center"
    >
      <hgroup
        class="flex flex-col items-center justify-center gap-4 text-center"
      >
        <h2 class="text-white text-5xl font-semibold drop-shadow-md">
          Unlmited invites for your event
        </h2>
        <p class="text-muted-foreground md:text-lg lg:text-lg text-base">
          Invite as many people as you want. There's no limit to the number of
          guests you can add to your events.
        </p>
      </hgroup>
      <!-- img goes here -->
      <div id="image" class="md:p-10 lg:p-10">
        <img src="./unlimited-demo.png" alt="Unlimited invites demo" />
      </div>
    </section>
    <!-- FAQ -->
    <section
      class="flex flex-col items-center justify-center gap-4 text-center"
    >
      <hgroup
        class="flex flex-col items-center justify-center gap-4 text-center"
      >
        <h2 class="text-white text-5xl font-semibold drop-shadow-md">
          Why Choose ThingCast?
        </h2>
        <p class="text-muted-foreground md:text-lg lg:text-lg text-base">
          ThingCast simplifies event scheduling, making it easy to create
          invites and manage guests. <br class="md:block lg:block hidden" /> With
          no setup required, you can start planning your events in minutes.
        </p>
      </hgroup>
      <!-- accordion goes here -->
      <div id="accordion-w" class="w-full md:p-10 lg:p-10">
        <AccordionRender data={data} client:idle />
      </div>
    </section>
    <!-- call to action -->
    <section
      class="flex flex-col items-center justify-center gap-4 text-center"
    >
      <hgroup
        class="flex flex-col items-center justify-center gap-4 text-center"
      >
        <h2 class="text-white text-5xl font-semibold drop-shadow-md">
          Get Started
        </h2>
        <p class="text-muted-foreground md:text-lg lg:text-lg text-base">
          You have the details, now it's time to start planning your event the
          right way. <br /> Click the button below to get started.
        </p>
      </hgroup>
      <!-- cta button goes here -->
      <div id="cta-btn">
        <a href="/app">
          <Button
            className="bg-white text-black p-6 rounded-full hover:bg-gray-200 px-10 hover:ring-2 hover:ring-gray-500"
            >Get Started</Button
          >
        </a>
        <Button variant={"link"} className="text-muted-foreground"
          >Learn More</Button
        >
      </div>
    </section>
    <!-- thank you -->
    <section
      class="flex flex-col items-center justify-center gap-4 text-center"
    >
      <hgroup
        class="flex flex-col items-center justify-center gap-4 text-center"
      >
        <h2 class="text-white text-5xl font-semibold drop-shadow-md">
          Thank You!
        </h2>
        <p class="text-muted-foreground md:text-lg lg:text-lg text-base">
          We hope you found ThingCast useful. If you have any questions or
          feedback, <br /> please reach out to us. We're always here to help.
        </p>
      </hgroup>
      <div id="contact-btn">
        <Button
          data-tally-open="wgAr8J"
          data-tally-emoji-text="👋"
          data-tally-emoji-animation="wave"
          className="bg-zinc-900 text-white p-6 rounded-full hover:bg-zinc-800 px-10 hover:ring-2 hover:ring-zinc-500"
          >Contact Us</Button
        >
      </div>
    </section>
  </main>
</Layout>

<script type="module" is:inline>
  // This script will track if user has left the page/tab

  function onPageLeave() {
    // Do something when the user leaves the page
    console.log("User has left the page");
    document.title = "Come back soon!";
  }

  document.addEventListener("visibilitychange", () => {
    if (document.visibilityState === "hidden") {
      onPageLeave();
    } else {
      document.title = "ThingCast | Event Scheduling Made easy";
      console.log("User has returned to the page");
    }
  });
</script>
<script async src="https://tally.so/widgets/embed.js" is:inline></script>
